<!DOCTYPE html>
<html>
<head>
<script src="bower_components/webcomponentsjs/webcomponents.min.js"></script>
<script src="bower_components/platform/platform.js"></script>
<!--<link rel="import" href="elements/hello-world.html">
<link rel="import" href="elements/data-binding.html">-->
<link rel="import" href="bower_components/paper-input/paper-input.html">
<link rel="import" href="bower_components/paper-button/paper-button.html">
<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/iron-image/iron-image.html">
<link rel="import" href="bower_components/iron-form/iron-form.html">

<style is="custom-style">
  .flex-center-justified {
    @apply(--layout-horizontal);
    @apply(--layout-center-justified);
  }

</style>
</head>
<body>
<!--<hello-world></hello-world>
<br>
<data-binding></data-binding>

<br>-->

<div class="container flex-center-justified" hidden?="{{shortView}}">
<iron-image alt="ING logo." src="logo.png"></iron-image>
</div>
<br>
<div class="container flex-center-justified">
  <div style="width:30%">
   <form is="iron-form" method="get" action="/" id="eventsDemo">
  <paper-input name="name" label="Name" required auto-validate></paper-input>
  <paper-input name="password" label="Password" type="password" required auto-validate></paper-input><br>
  <paper-checkbox name="read" required>Remember Me</paper-checkbox><br><br>
  <paper-button raised onclick="_delayedSubmit(event)" disabled id="eventsDemoSubmit">
  <paper-spinner id="spinner" hidden></paper-spinner>Login</paper-button>
  <paper-button raised onclick="_reset(event)">Reset</paper-button>
  <div class="output"></div>
</form>
  </div>
</div>
  
 
<script>
  eventsDemo.addEventListener('change', function(event) {
    // Validate the entire form to see if we should enable the `Submit` button.
    eventsDemoSubmit.disabled = !eventsDemo.validate();
  });
  function _delayedSubmit(event) {
    spinner.active = true;
    spinner.hidden = false;
    eventsDemoSubmit.disabled = true;
    // Simulate a slow server response.
    setTimeout(function() {
      Polymer.dom(event).localTarget.parentElement.submit();
    }, 1000);
  }
  function _reset(event) {
    var form = Polymer.dom(event).localTarget.parentElement
    form.reset();
    form.querySelector('.output').innerHTML = '';
  }
  document.getElementById('eventsDemo').addEventListener('iron-form-submit', function(event) {
    spinner.active = false;
    spinner.hidden = true;
    eventsDemoSubmit.disabled = false;
  });
</script>
</body>
</html>