<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="data-binding" attributes="name">
  <template>
  <style>
  h1{
  font-family:arial;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  }
  </style>
   <h1>Hello {{name}}</h1>
   <input type="text" value="{{name::input}}">
   <button on-tap="changeName">Change Name</button>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'data-binding',
	ready: function(){
		this.name = 'Sakthi'
	},
	changeName: function(){
		this.name = 'Vignesh';
	}
  });
</script>