<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="hello-world" attributes="name">
  <template>
  <style>
  span{
  font-family:arial;
  color: red;
  }
  </style>
   <h2>Employee List ::</h2>
   <template is="dom-repeat" items="{{names}}">
   <div><span>{{index}} </span>{{item.first}}</div>
   </template>
  </template>
</dom-module>

<script>
  Polymer({
    is: 'hello-world',
	properties : {
	name : String
	},
	ready: function(){
		this.names = [
            {first: 'Bob', last: 'Smith'},
            {first: 'Sally', last: 'Johnson'},
			{first: 'Sakthi', last: 'Vignesh'}
        ];
	}
  });
</script>